body{ background-image: url(./assign\ 3_1.jpg);
    background-repeat: no-repeat; 
    background-size: cover;}
    .container{ border: 2px solid black;
    background-color: white;
    border-radius: 10px 20px;
    margin:  10% 27%;
    height: 290px;
    width: 420px;
     text-align:center;
     box-shadow: inset 10px 10px 10px 10px pink;
    }
    h1{ font-family: 'Times New Roman', Times, serif;}
    #fsm{ font-size: 10px;}
    input{ font-size: 10px;}
    #w{ color: white;}
    #ign{ align-items: left; margin: 0;padding: 0;}